<button type="button" (click)="showDropdown()"
  class="flex items-center justify-center font-medium rounded-lg text-sm px-4 py-2 focus:ring-4 focus:outline-none text-black dark:text-white hover:bg-gray-200 focus:ring-gray-300 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
  >
  <i class="fa-solid fa-ellipsis-vertical"></i>
</button>

@if (dropdown) {
  <div id="box" class="fixed top-0 left-0 w-full h-full z-10 bg-[#26242433]"></div>
  <div class="absolute right z-10 p-3 mr-2 space-y-2 bg-white rounded-lg shadow dark:bg-gray-700">
    <ng-content></ng-content>
  </div>
}
