<div class="mb-2 flex items-center justify-between">
  <h2 class="text-lg font-bold hover:text-blue-400">
    {{ literals.title }}
  </h2>

  <div class="flex sm:space-y-0 sm:space-x-4">
    @if (["new", "edit"].includes(pageType)) {
      <button type="button" [disabled]="disabled" (click)="onSaveEvent.emit()"
        class="flex items-center justify-center font-medium rounded-lg text-sm px-4 py-2 focus:ring-4 focus:outline-none disabled:opacity-50 text-white bg-green-700 hover:bg-green-800 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
        <i class="fa-solid fa-circle-plus mr-2"></i>

        {{ pageType == "new" ? literals.buttons?.new : literals.buttons?.edit }}
      </button>

      <button type="button" (click)="isDiscart = true"
        class="flex items-center justify-center font-medium rounded-lg text-sm px-4 py-2 focus:ring-4 focus:outline-none ml-2 text-white bg-red-700 hover:bg-red-800 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        <i class="fa-solid fa-trash mr-2"></i>

        {{ literals.buttons?.discart }}
      </button>
    } @else {
      <button type="button" (click)="onCloseEvent.emit()"
        class="flex items-center justify-center font-medium rounded-lg text-sm px-4 py-2 focus:ring-4 focus:outline-none text-white bg-gray-700 hover:bg-gray-800 focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
        {{ literals.buttons?.close }}
      </button>
    }
  </div>
</div>

<custom-modal
  [show-modal]="isDiscart"
  >
  <i class="fa-solid fa-circle-exclamation mb-2"></i>

  <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
    {{ literals.discart_modal?.text }}
  </h3>

  <button type="button" (click)="isDiscart = false; onDiscartEvent.emit()"
    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
    {{ literals.discart_modal?.confirm }}
  </button>

  <button type="button" (click)="isDiscart = false"
    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
    {{ literals.discart_modal?.cancel }}
  </button>
</custom-modal>
