<label for="simple-search" class="sr-only">
  {{ literals.label }}
</label>

<div class="relative w-full">
  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <input id="simple-search" [formControl]="search" [placeholder]="literals.placeholder"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
</div>
